#terminal {
    border-radius: 2%;
    margin: 0 auto;
    width: 35%;
    min-width: 360px;
    box-shadow: 1px 4px 15px 7px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 1px 4px 15px 7px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 1px 4px 15px 7px rgba(0, 0, 0, 0.75);
}

#terminal .cmd {
    margin-top: 25%;
}

.command {
    cursor: pointer;
}

.directory #dir_ls {
    font-weight: bolder;
    color: #07d411;
}

@media only screen and (max-width: 1000px) {

    #terminal {
        width: 70%;
    }
}
