@font-face {
  font-family: "JetBrains Mono";
  src: url("../fonts/JetBrainsMono-Regular.woff2");
}

:root {
  background-color: #121212;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  place-items: center;
}

#app {
  display: grid;
  row-gap: 1rem;
  padding-top: 1%;
  width: 100%;
}

.description {
  margin: 0 auto;
  font-family: "JetBrains Mono", monospace;
  background-color: #1e1e1e;
  padding: 10px;
  text-align: center;
  grid-row: 1;
  grid-column: 1;
}

footer {
  font-family: "JetBrains Mono", monospace;
  padding: 10px;
  text-align: right;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgb(14, 98, 255);
  color: white;
  text-align: center;
  user-select: none;
}

#rasp {
  color: rgb(255, 147, 58);
}
